<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#send").click(function () {
                var model = {
                    UserName: "Shyju",
                    Id: 1,
                    Score: 299
                };

                $.ajax({
                    type: "POST",
                    data: JSON.stringify(model),
                    url: "/api/values/",
                    contentType: "application/json"
                }).done(function (res) {
                    console.log('res', res);
                    // Do something with the result :)
                });
            });
        });
    </script>
</head>
<body style="width:200px; height:300px; background-color:aquamarine;">
    <input type="submit" id="send" value="Send score"/>
</body>
</html>